:root {
    --text_color: #82858A;
}

@font-face {
    font-family: 'futura_bk_bold';
    src: url('../fonts/Futura Bk Bold.ttf');
}

html, body {
    padding: 0;
    margin: 0;
    font-family: futura_bk_bold;
}

html {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
}


